*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/local.properties
/.idea/
/app/build/
/build/
/wjbridge/build/
/wjbridge/wjbridge.iml
/app/app.iml
/gradle/wrapper/gradle-wrapper.jar
.gradle/
wjbridge/libs/
wjbridge/src/main/assets/
wjbridge/src/main/java/
